<h1>Authorize access to your profile</h1>

The web site <%= link_to @client_application.name,@client_application.url %> would like to access your profile on  your behalf.</p>

<p>If you trust this site and would like to allow this, click the  "Grant Access" button below. </p>

<br />


<%= form_tag(authorize_url, :method => 'post', :multipart => true) do %>

  <%= hidden_field_tag "response_type", params[:response_type]%>
  <%= hidden_field_tag "client_id", params[:client_id]%>
  <%= hidden_field_tag "redirect_uri", params[:redirect_uri]%>
  <%= hidden_field_tag "state", params[:state]%>
  <%= hidden_field_tag "scope", params[:scope]%>

<p>

  <a href="<%= @client_application.callback_url %>?oauth_problem=user_refused">Cancel</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= submit_tag "Grant Access", :name => "authorize" %>
  </p>

<% end %>

