
<% title  "Sign In" %>  

<div class="login-orcid">

Sign in using your ORCID account

<p>
<a href="/auth/orcid" class="auth_provider">
  <%= image_tag "linked_in_64.png", :size => "64x64", :alt => "LinkedIn" %>
</a>
</p>

</div>

<div class="login-or">
OR
</div>


<div class="login-login">

Sign in using your DemoMSapp account

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>  
  <ul class="formList">  
    <li><%= f.label :email %> <%= f.text_field :email %></li>  
    <li><%= f.label :password %> <%= f.password_field :password %></li>  
    <% if devise_mapping.rememberable? -%>  
    <li><%= f.check_box :remember_me %> <%= f.label :remember_me %></li>  
    <% end %>  
    <li><%= f.submit "Sign in" %></li>  
  </ul>  
<% end %> 
<%= render :partial => "devise/shared/links" %>  

<div class="login-registration">



</div>
